@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #e0e0e0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.TodoWrapper {
  background: #333;
  margin-top: 5rem;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: #444;
  border: 1px solid #555;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
  color: #e0e0e0;
}

.todo-input::placeholder {
  color: #aaa;
}

.todo-btn {
  background: #1f8b4c;
  color: #fff;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 5px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  color: #e0e0e0;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #e0e0e0;
  cursor: pointer;
}

.completed {
  color: #777;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  color: #aaa;
}
